.sidebar {
    display: flex;
}

.sidebar__sidebar {
    width: 15%;
    border: 2px solid black;
}

.sidebar__main {
    /* Take the remaining width */
    flex: 1;
}

.card-layout {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.card-checkbox-label {
  cursor: pointer;
}

.card-checkbox {
  display: none;
}

.clickable {
  cursor: pointer;
}

.clicked {
  background-color: rgba(90, 236, 90, 0.856);
}


.card-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  pointer-events: auto;
}

.card-layout__item {
  width: 100%;
  transition: width 0.3s ease;
  flex-basis: 32.33332%;
  padding: 0;
  transition: all 0.5s ease-in-out;
  border: 2px solid black;
  transform: scale(0.85);
}

.card-layout__item:hover {
  transform: scale(0.9);
  z-index: 1;
  border: 2px solid black;
  opacity: 0.8;
}



.card-layout__item img {
  transition: all 0.5s ease-in-out;
}

.card-layout__header {
  background-color: none;
  text-align: center;
}

.playerSkill {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 100%;

}

.black{
  background-color: black;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.card-layout__image {
  height: 350px;
  width: 350px;
  background-size: cover;
  background-position: center;
}

.card-layout__footer {
  background-color: none;
  text-align: center;
  text-decoration: none;
}


.search-box {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #d1d5db;
}

.search-box__input {
  border-color: transparent;
  flex: 1;
}
a{
  background-color: none;
  text-align: center;
  text-decoration: none;
}


